
.publication-info-section {
    background-color: #333;
    padding: 20px;
    border-radius: 3px;
    width: 455px;
}

.publication-user {
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 10px;
    border-bottom: 1px solid #ffffff;
}

.user-username{
    font-size: 10px;
}

.publication-user-section {
    display: flex;
    align-items: center;
    background-color: #333;
    width: 33%;
    border-radius: 3px;
    padding: 20px;
    gap: 15px;
}

.publication-user-section__avatar {
    border: 2px solid #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.user__avatar {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transition: all ease .2s;
}

.user__avatar:hover {
    filter: brightness(0.8);
}

.publication-comment-box {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    gap: 10px;
}

.publication-user-section__avatar--small {
    width: 40px;
    height: 40px;
}

.publication-comment-box__input {
    width: 80%;
    height: 38px;
    border-radius: 3px;
    border: none;
    background-color: #555;
    color: #fff;
}

.publication-comment-box__btn {
    height: 38px;
    width: 60px;
    background-color: rgb(93, 63, 211);
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.publication-user-comments {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
}


.user-comment {
    display: flex;
    gap: 6px;
    align-items: center;
    height: 50px;
}

.user-comment__avatar-container {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.user-comment__avatar {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 2px solid #ffffff;
}
.user-comment__text-comment {
    display: flex;
    flex-direction: column;
}

.user-comment__text-comment a {
    text-decoration: none;
}

.user-comment__username {
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: 600;
}

.user-comment__text {
    font-size: 0.8rem;
}


