.bg-blue {
    background-color: #0070CC;
    color: #fff;
}

.bg-green {
    background-color: #0E7A0D;
    color: #fff;
}

.bg-purple {
  background: linear-gradient(90deg, #8B5CF6, #06B6D4, #F43F5E);
  color: white;
}

.bg-red {
    background-color: #E4000F;
    color: #fff;
}

.bg-orange {
  background-color: #10B981;
  color: white;
}