.bg-blue {
    background-color: #0070CC;
    color: #fff;
}

.bg-green {
    background-color: #0E7A0D;
    color: #fff;
}

.bg-purple {
  background: linear-gradient(90deg, #8B5CF6, #06B6D4, #F43F5E);
  color: white;
}

.bg-red {
    background-color: #E4000F;
    color: #fff;
}

.bg-orange {
  background-color: #10B981;
  color: white;
}

.publication-home__footer__tags {
    display: flex;
    gap: 6px;
    margin-top: 8px;
}

.publication-home__footer__tags-plat,
.publication-home__footer__tags-cat {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    padding: 4px 10px;
    min-height: 24px;

    border-radius: 999px;

    font-size: .75rem;
    font-weight: 600;

    white-space: nowrap;
}

.publication-home__footer__tags {
    display: flex;
    gap: 6px;
    margin-top: 8px;
}


.publication-home__footer__tags-plat {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    min-height: 24px;

    border-radius: 999px;

    font-size: .75rem;
    font-weight: 600;

    white-space: nowrap;

}

.publication-home__footer__tags-cat {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    min-height: 24px;

    border-radius: 999px;

    font-size: .75rem;
    font-weight: 600;

    white-space: nowrap;
    background-color: #555;
    color: #eee;
}