.publication-home {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 350px;
    background-color: #1D1C1C;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    border-radius: 17px;
    box-shadow: 0px 2px 5px #0d0d0d;
    transition: all ease .2s;
}

.publication-home__footer__tags {
    display: flex;
    gap: 10px;
}

.publication-home__footer__tags-plat {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    font-size: 0.8rem;
    font-weight: 600;
}

.publication-home__footer__tags-cat {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    font-size: 0.8rem;
    font-weight: 600;
    background-color: #555;
    color: #eee;
}

.bg-blue {
    background-color: #0070CC;
    color: #fff;
}

.bg-green {
    background-color: #0E7A0D;
    color: #fff;
}

.bg-purple {
  background: linear-gradient(90deg, #8B5CF6, #06B6D4, #F43F5E);
  color: white;
}

.bg-red {
    background-color: #E4000F;
    color: #fff;
}

.bg-orange {
  background-color: #10B981;
  color: white;
}

.publication-home:hover {
    transform: scale(1.05);
}

.publication-home__body{
    width: 100%;
    height: 80%;
}

.publication-home__body__content {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 17px;
}

.publication-home__footer {
    display: flex;
    width: 100%;
    padding: 10px;
}

.user-information {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.user-information__img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid #5D3FD3;
    transition: all ease .2s;
}

.user-information__img:hover {
    filter: brightness(0.4);
}

.publication-home__link {
    text-decoration: none;
}

.publication-home__footer__title {
    color: #fff;
}