.publication-section{
    margin-top: 30px;
    display: flex;
    gap: 20px;
    width: 100%;
    justify-content: center;
}


.publication {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.publication-image-container {
    width: 800px;
    height: 500px;
    background-color: #333;
    border-radius: 12px;
}

.publication-image-container__publication-img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 12px;
}

.publication-text-context {
    background-color: #333;
    width: 100%;
    padding: 20px;
    border-radius: 12px;
}

.publication-title__label {
    font-size: 11px;
    color: #ccc;
}

.publication-description {
    border-radius: 3px;
    margin-bottom: 10px;
}

.publication-title-button {
    display: flex;
    justify-content: space-between;
}

.publication-user__temp {
    width: 100%;
    background-color: #333;
    border-radius: 12px;
    padding: 20px;
    display: flex;
    gap: 10px;
}

.publication-user-section__avatar__temp{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 2px solid #fff;
}

.user__avatar__temp {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.user-first-name__temp {
    font-size: 1.1rem;
    font-weight: 400;
}

.user-username__temp {
    font-size: 0.8rem;
}

.publication-creation-date {
    font-size: 0.8rem;
    color: #BDBDBD;
}





