.publication-section{
    display: flex;
    gap: 20px;
    width: 100%;
    justify-content: center;
}


.publication {
    display: flex;
    align-items: center;
    gap: 10px;
}

.publication-image-container {
    width: 500px;
    height: 500px;
    background-color: #333;
    border-radius: 3px;
}

.publication-image-container__publication-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 3px;
}

.publication-text-context {
    background-color: #333;
    width: 100%;
    padding: 20px;
    border-radius: 3px;
}

.publication-title__label {
    font-size: 11px;
    color: #ccc;
}

.publication-description {
    padding: 10px;
    background-color: #222;
    border-radius: 3px;
}



