.publication {
    display: flex;
    flex-direction: column;
    gap:5px;
}
.publication__body {
    width: 200px;
    height: 200px;
}


.publication__body__image {
    width: 100%;
    height: 100%;
    border-radius: 16px;
    transition: all ease .2s;
}
.publication__body__image:hover {
    filter: brightness(0.8);
}
.publication__footer {
    display: flex;
    align-items: center;
    gap: 5px;
}

.publication-user__image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.publication-link {
    text-decoration: none;
}

.publication__footer__title {
    color: #fff;
}


.publication-home__footer__tags {
    display: flex;
    gap: 10px;
}

.publication-home__footer__tags-plat {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    font-size: 0.8rem;
    font-weight: 600;
}

.publication-home__footer__tags-cat {
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    font-size: 0.8rem;
    font-weight: 600;
    background-color: #555;
    color: #eee;
}

.bg-blue {
    background-color: #0070CC;
    color: #fff;
}

.bg-green {
    background-color: #0E7A0D;
    color: #fff;
}

.bg-purple {
  background: linear-gradient(90deg, #8B5CF6, #06B6D4, #F43F5E);
  color: white;
}

.bg-red {
    background-color: #E4000F;
    color: #fff;
}

.bg-orange {
  background-color: #10B981;
  color: white;
}
